.img-table{
    width: 22%;
}
.img-td{
    /* padding: 0; */
    width: 20%;
}
.td{
    text-align: center;
}
.tr .td{
    border: 1px solid rgb(54, 54, 141);
}
.message-error{
    text-align: center;
    font-size: 150%;
    padding: 2%;

}
.no-message{
   display: block;
   width: 50%;
   margin: auto;
}
.message-p{
    padding: 0;
    margin: 0 0 2% 0;
    
}
.linkMess{
    font-size: 85%;
    font-weight: bold;
    text-decoration: none;
    color: rgb(54, 54, 141);
}
.isRead{
    font-weight: bold;
    color: tomato;
}
.readButton{
    background: none;
    font-family: cursive;
    border: none;
    font-size: 85%;
    font-weight: bold;
    color: rgb(54, 54, 141);
}
.readButton :hover{
    cursor: pointer;
}
.isRead :hover{
    cursor: pointer;
}