.div-fun-zone{
        width: 70%;
        margin: auto;
        padding-top: 0;
        font-family: cursive;
        border: 2px solid rgb(54, 54, 141);
        border-radius: 5px;
      
    
}
.title{
    margin: auto;
    margin: 2% 0 2% 38%; 
}