ul li {
    list-style-type: circle;
}

<<<<<<< Updated upstream
div {
    
    font-size: 120%;
}
.home {
    margin: 25px auto;
    padding: 5%;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 6px grey;
    height: 60%;
}
.img {
    display: inline-block;
    width: 26%;
=======

div {
    font-size: 120%;
}

.img {
    display: inline-block;
    width: 26%;
    transform: rotate(10deg);
>>>>>>> Stashed changes
}
.left{
    float: left;
    padding-right: 3%;
<<<<<<< Updated upstream
}
article{
    display: inline-flex
}
article p {
=======
    transform: rotate(-10deg);
}
article{
    margin-top: 5%;
    font-size: 160%;
    display: inline-flex;
}
article p {
    width: 70%;
    padding-top: 5%;
>>>>>>> Stashed changes
    display: inline-flex;
    
}
.right{
    float: right;
    padding-left: 1%;
    padding-right: 1%;
}