.divPage {
    width: 70%;
    margin: auto;
    /* padding: 5%; */
    font-family: cursive;
    border: 2px solid rgb(54, 54, 141);
    border-radius: 5px;
    text-align: center;
    font-size: 110%;
    text-align: center;
}
ul li {
    list-style-type: circle;
}

.home-img {
    display: inline-block;
    width: 20%;
    transform: rotate(10deg);
}
.left{
    float: left;
    padding-right: 3%;
    transform: rotate(-10deg);
}
.article{
    margin-top: 5%;
    
    font-size: 100%;
    display: inline-flex;
}
.article-p {
    width: 70%;
    padding-top: 3%;
    display: inline-flex;
    
}
.right{
    float: right;
    padding-left: 1%;
    padding-right: 1%;
}
.logged-img{
    width: 90%;
    padding-top: 3%;
}
.logged-div{
    padding: 0;
}
/* .logged-h{
    
} */
.link{
text-decoration: none;
font-weight: bold;
color: rgb(54, 54, 141);
}
.logged-text{
    display: inline-block;
    padding: 2%;
   width: 30%;
   margin-left: 2%;

}
.logged-img-div{
    width: 45%;
    display: inline-block;
}