.divPage {
    width: 70%;
    margin: auto;
    padding: 5%;
    font-family: cursive;
    border: 2px solid rgb(54, 54, 141);
    border-radius: 5px;
    text-align: center;
}
ul li {
    list-style-type: circle;
}
.divPage {
    font-size: 110%;
    text-align: center;
}

.home-img {
    display: inline-block;
    width: 20%;
    transform: rotate(10deg);
}
.left{
    float: left;
    padding-right: 3%;
    transform: rotate(-10deg);
}
.article{
    margin-top: 5%;
    
    font-size: 100%;
    display: inline-flex;
}
.article-p {
    width: 70%;
    padding-top: 3%;
    display: inline-flex;
    
}
.right{
    float: right;
    padding-left: 1%;
    padding-right: 1%;
}
.logged-img{
    float: left;
    width: 40%;
}
.logged-div{
    height: 50vh;
}
.logged-h{
    padding-top: 10%;
}
.link{
text-decoration: none;
font-weight: bold;
color: rgb(54, 54, 141);
}