
#nav li{
    text-decoration: none;
    display: inline-block;
    padding: 2px 15px 2px 15px;
    /* float: inline-end; */
    font-size: 120%;
    
}
#nav li :hover{
    text-decoration: underline
}
.nav{   
    text-align: center;
}
#nav {
    margin: auto;
    border: 3px solid rgb(54, 54, 141);
    border-radius: 15px;
    background: white;
    list-style-type: none;
    
}

#nav li a {
    color: rgb(54, 54, 141);
    padding: 0 8px 0 8px;
    text-decoration: none;
    /* font-family: 'Mansalva', cursive; */
    
}

.nav img {
<<<<<<< Updated upstream
    width: 100%;
    
=======
    width: 90%;
>>>>>>> Stashed changes
}