.App {
  margin: auto;
  background-color: rgba( 266, 266, 266, 0.9);
  font-family: 'Permanent Marker', cursive;
   width: 70%;
   height: 1500px;
}
body{
  background-image: url(./Central_Perk.jpg);
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
<<<<<<< Updated upstream
=======
.divPage {
  margin: 25px auto;
  padding: 5%;
  width: 80%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 6px grey;
  height: 60%;
}
>>>>>>> Stashed changes





